//Dimensions
$height:100%;
$width:100%;
//Colors
$colorA: rgba(236, 240, 241, .6);
$colorB: rgba(236, 240, 241, .0);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
body {
    //A lil layout  
    font-family: 'Roboto';
    text-align: center;
    h1 {
        font-size: 50px;
        margin-top: 200px;
    } //h1
    //Positioning the main divs
    div {
        background-size: 200%;
        background-position: 0 50%;
        height: $height;
        position: fixed;
        top: 0;
        width: $width;
        pointer-events: none;
    } //div
    #picture {
        background-image: url('http://finda.photo/image/10216/thumbnail/original');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    //Setting the first layer
    #layer1 {
        background: repeating-linear-gradient( 90deg, $colorB, $colorA, $colorB);
        animation: layer1 10s linear infinite alternate;
    } //#layer1
    //Setting the second layer
    #layer2 {
        background: repeating-linear-gradient( 90deg, $colorB, $colorA, $colorB);
        animation: layer2 15s linear infinite alternate;
    } //#layer2
    //Animations
    @keyframes layer1 {
        0% {
            background-position: 1000px 0;
        }
        50% {
            background-position: 500px 0;
        }
        100% {
            background-position: 0 0;
        }
    } //layer1
    @keyframes layer2 {
        0% {
            background-position: 0 0%;
        }
        50% {
            background-position: 500px 0%;
        }
        100% {
            background-position: 1000px 0;
        }
    } //layer2
} //body