/* Header */

#new_hero {
    background-color: #444;
    color: rgba(255, 255, 255, 0.75);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8em 0 6em 0;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    cursor: default;
    width: 100%;
    height: 100vh;
}

#new_hero input,
#new_hero select,
#new_hero textarea {
    color: #ffffff;
}

#new_hero a {
    color: inherit;
}

#new_hero a:hover {
    color: #EF6480 !important;
}

#new_hero strong,
#new_hero b {
    color: #ffffff;
}

#new_hero h1,
#new_hero h2,
#new_hero h3,
#new_hero h4,
#new_hero h5,
#new_hero h6 {
    color: #ffffff;
}

#new_hero blockquote {
    border-left-color: #ffffff;
}

#new_hero code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
}

#new_hero hr {
    border-bottom-color: #ffffff;
}

#new_hero:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url("images/overlay.png");
}

#new_hero h1 {
    margin-bottom: 0.5em;
}

#new_hero .inner {
    position: relative;
    z-index: 1;
}

#new_hero.alt {
    height: 20em;
    min-height: 20em;
    min-height: 75vh;
}

#new_hero.alt:before {
    -moz-transition: background-color 3s ease;
    -webkit-transition: background-color 3s ease;
    -ms-transition: background-color 3s ease;
    transition: background-color 3s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

#new_hero.alt h1 {
    font-size: 4em;
    padding: 0 0.5em 0.25em 0.5em;
    border-bottom: solid 2px #ffffff;
    font-weight: 200;
    font-family: "Pacifico", cursive;
    text-transform: none;
    letter-spacing: 0;
}

#new_hero.alt p {
    text-transform: uppercase;
    letter-spacing: 0.325rem;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 1.25em;
}

#new_hero.alt .inner {
    -moz-transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    transition: opacity 2s ease;
    opacity: 1;
}

body.is-loading #new_hero.alt:before {
    background-color: black;
}

body.is-loading #new_hero.alt .inner {
    opacity: 0;
}

@media screen and (max-width: 1280px) {
    #header {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #header {
        padding: 4em 2em 2em 2em;
    }
    #header.alt h1 {
        font-size: 2.5em;
        padding-left: 0;
        padding-right: 0;
    }
    #header.alt p {
        padding: 0;
    }
    #header.alt .inner {
        max-width: 20em;
    }
}